In [7]:
import pymysql
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine

sns.set(style="whitegrid")

In [21]:
# Create SQLAlchemy engine for better pandas integration
engine = create_engine('mysql+pymysql://root:Bebepatas1331@localhost/sales_db')

# Read data using the engine
df_customers = pd.read_sql('SELECT * FROM customers LIMIT 5', con=engine, index_col='customer_id')
print("Customers Data:")
df_customers.head()

Customers Data:

,first_name,last_name,email,phone,address_line,postal_code,city,country,registration_date,is_active
customer_id,,,,,,,,,,
1,Carolyn,Vaughn,carlachavez@example.com,001-262-497-2749,8210 Murphy Spurs Suite 132,98393,Theodoreberg,Congo,2024-07-16 12:18:38,0
2,Michael,Wallace,michael81@example.net,(577)889-2748x718,0827 Kimberly Hill Suite 022,01497,South Stephanie,Canada,2024-03-04 09:36:59,1
3,James,Andrews,mdonovan@example.net,001-794-693-9455x518,07016 Newman Ranch,93147,Bondburgh,Bahrain,2023-10-28 19:25:42,1
4,Shane,Young,chelseawilson@example.com,964.385.9469x1664,9970 Bullock Centers Suite 399,58763,Lake Karen,Heard Island and McDonald Islands,2025-04-08 07:09:20,1
5,Mark,Hall,lhernandez@example.org,(719)335-1279,78486 Douglas Shore,36171,Deborahbury,Belgium,2023-12-04 20:41:12,1

### Question: Who are the top 10 customers by total spending?

In [34]:
top_customers = pd.read_sql("""
  SELECT 
	  customers.customer_id, 
	  CONCAT(first_name, ' ', last_name) AS customer_name,
	  SUM(sales.total_amount) AS total_spend
  FROM customers
  JOIN sales ON customers.customer_id = sales.customer_id
  WHERE sales.payment_status = 'paid'
  GROUP BY customers.customer_id
  ORDER BY total_spend DESC
  LIMIT 10;
""", con=engine)

print("Top 10 Customers by Total Spending:\n")
top_customers

Top 10 Customers by Total Spending:

   customer_id       customer_name  total_spend
0          406  Jennifer Hernandez     10375.23
1          192    William Thompson     10157.91
2          248          David Pham      9657.23
3          641     Randall Salinas      8694.53
4          323         Ariel Davis      8531.17
5          223     Karen Hernandez      8492.75
6          682       Rachel Morgan      8013.10
7          200      Jeremy Terrell      7983.01
8           53        Jean Edwards      7936.52
9          249     Melissa Patrick      7715.96